// SITE-WIDE STYLES
.container-fluid {
  height: 100%;
  margin: 0;
}

.content-row {
  min-height: 100%;
  overflow-y: auto;
  padding: 3em 0;
  margin: 0;
}

@font-face {
  font-family: 'alte_haas_groteskbold';
  src: url('/assets/stylesheets/fonts/altehaasgroteskbold-webfont.woff2') format('woff2'),
       url('/assets/stylesheets/fonts/altehaasgroteskbold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'alte_haas_groteskregular';
  src: url('/assets/stylesheets/fonts/altehaasgroteskregular-webfont.woff2') format('woff2'),
       url('/assets/stylesheets/fonts/altehaasgroteskregular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

// header
.navigation {
  width: 100%;
  background: #fff;
  border-bottom: 1px solid #ee4000;
  font-size: 14px;
  text-align: left;
  text-transform: uppercase;
  padding: .5em 0;
  a{
    text-decoration: none;
    &:hover {
      color: inherit;
      text-decoration: none;
      filter: opacity(.5);
    }
  }
}

.nav-content {
  display: inline-block;
  padding: 0 1em;
}

// footer
.footer {
  display: flex;
  width: 100%;
  background: #fff;
  border-top: 1px solid #ee4000;
  font-size: 14px;
  text-transform: uppercase;
  justify-content: space-between;
  align-items: center;
}

.copy {
  margin: 0;
  padding: 0 .8em;
}

.social{
  font-size: 28px;
  margin: 0;
  padding: 0 .5em;
}

// everything else
body {
  height: 100vh;
  display: flex;
  flex-flow: column;
  font-size: 14px;
  font-family: 'Helvetica', sans-serif;
  color: #333333;
}

a {
  color: #333333;
  text-decoration: underline #ee4000;
  &:hover {
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    color: inherit;
    text-decoration: underline #ee4000;
    filter: opacity(.5);
  }
}

p {
  margin: 1em 0;
}

h1 {
  font-family: 'alte_haas_groteskbold';
  font-size: 50px;
  text-transform: uppercase;
  line-height: .8em;
  letter-spacing: -1px;
  margin: .2em 0;
}

h2 {
  font-family: 'alte_haas_groteskregular';
  font-size: 32px;
  color: #333;
  text-transform: uppercase;
  line-height: .8em;
  margin: .2em 0;
}

h3 {
  font-family: 'alte_haas_groteskregular';
  font-size: 26px;
  text-transform: uppercase;
  line-height: 1em;
  margin-bottom: .1em;
}

h4 {
  font-family: 'alte_haas_groteskregular';
  font-size: 20px;
  line-height: 1.5em;
}

blockquote {
  font-family: 'alte_haas_groteskregular';
  font-style: italic;
  font-size: 20px;
  text-transform: uppercase;
  line-height: inherit;
  margin: 1em 3em;
}

ul {
  list-style: none;
  padding: 0 0 1em 0;
  margin: 0;
}

li {
  padding-left: 1em;
}

li:before {
  content: "#";
  color: #ee4000;
}

figcaption {
  color: #777777;
  font-size: 12px;
  text-align: center;
  line-height: 1.6em;
  margin: .4em;
  a{
    color: inherit;
  }
}

.red {
  color: #ee4000 !important;
}

.index-title {
  font-family: 'alte_haas_groteskbold';
  font-size: 82px;
  text-align: center;
  text-transform: uppercase;
  line-height: 1em;
  letter-spacing: -2px;
}

.year-list {
  font-family: 'alte_haas_groteskregular';
  font-size: 82px;
  text-align: right;
  letter-spacing: -4px;
}

.writing-list{
  line-height: inherit;
  padding: 3em 0;
  a{
    color: #333333;
    display: inline-block;
    &:hover {
      color: inherit;
      filter: opacity(.5);
    }
  }
}

.button {
  display: inline-block;
  max-width: 100%;
  background-color: #ee4000;
  color: #fff;
  text-align: center;
  text-decoration: none;
  word-wrap: break-word;
  border: 1px solid #ee4000;
  border-radius: 8px;
  margin: 1em 0;
  padding: 1em 2em;
  &:hover {
    color: #ee4000;
    background: #fff;
    text-decoration: none;
    border: 1px solid #ee4000;
    filter: opacity(1);
  }
}

.hvr-fade {
  overflow: hidden;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.hvr-fade:hover, .hvr-icon-fade:hover, .hvr-fade:focus, .hvr-fade:active {
  background-color: inherit;
}

.video {
  margin-top: 1em;
}

.video-text {
  margin: 1em 0;
  padding: 0 1em;
}

.writing {
  font-size: 16px;
  color: #333333;
  line-height: 1.8em;
}

// footnotes
.note {
  font-size: 12px;
  color: #777777;
  border: 1px solid #ee4000;
  border-radius: 4px;
  margin: 1em 4em;
  padding: 1em 2em;
  a{
    color: #777777;
  }
}

// IMAGES & MEDIA
img{
  width: 100%
}

figure {
  width: 100%;
  position: relative;
  display: inline-block;
  margin: 1em 0 0 0;
}

// responsive video solution from Praxis Ashelin
// https://stackoverflow.com/questions/28340625/
.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 ratio */
  padding-top: 25px;
  height: 0;
}

.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.musicWrapper {
  position: relative;
  padding-top: 80px;
  height: 0;
  margin-top: 1.4em 0 1.6em 0;
}

.musicWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

// creative commons license
.ccl{
  width: 88px;
  height: 31px;
}

// valentine img
.val{
  max-width: 35%;
  max-height: 35%;
  margin-top: 0;
  margin-left: 1.2em;
}

// mobile
@media (max-width: 765px) {
  .container-fluid {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  .content-row {
    min-height: 100%;
    overflow-y: scroll;
    margin: 0;
    padding: 4em 0 3.5em 0;
  }

 .navigation {
   font-size: 14px;
   padding: .8em 1em;
   display: flex;
   justify-content: space-between;
 }

 .nav-content {
    padding: 0;
 }

 .footer {
    font-size: 14px;
    padding: .2em 0;
  }

  .copy {
    padding: 0 .8em;
  }

  .social {
    padding: 0 .5em;
  }

  .video {
    margin-top: .4em;
  }

  body {
    height: 100%;
    font-size: 14px;
  }

  h1 {
    font-size: 42px;
    line-height: 1em;
    letter-spacing: -1px;
    margin: 0;
  }

  h2 {
    font-size: 30px;
    line-height: 1em;
    letter-spacing: -.5px;
    margin: .2em 0;
  }

  h3 {
    font-size: 24px;
    line-height: 1em;
  }

  blockquote {
    margin: 1em 2em;
  }

  li {
    padding-left: .5em;
  }

  .index-title {
    text-align: center;
    font-size: 90px;
    line-height: .9em;
    letter-spacing: -3px;
    margin: .2em 0;
    padding: 0;
  }

  .year-list {
    font-size: 72px;
    letter-spacing: -3px;
    text-align: center;
  }

  .writing-list {
    line-height: 1.5em;
    padding: 0;
  }

  .button {
    display: inline-block;
    max-width: 100%;
    background-color: #ee4000;
    color: #fff;
    text-align: center;
    text-decoration: none;
    word-wrap: break-word;
    border: 1px solid #ee4000;
    border-radius: 8px;
    margin: 1em 0;
    padding: 1em 2em;
    &:hover {
      color: #ee4000;
      background: #fff;
      text-decoration: none;
      border: 1px solid #ee4000;
      filter: opacity(1);
    }
  }

  .video-text {
    font-size: 18px;
  }

  .writing {
    font-size: 18px;
    color: #333333;
    line-height: 2em;
  }

  .note {
    font-size: 14px;
    margin: 1em;
    padding: 1em;
  }

  .val{
    margin-top: 0;
    margin-left: .5em;
  }
}
