// bootstrap, partials
.container-fluid {
  height: 100%;
}

.row{
  height: 100%;
}

.footer {
  height: 20px;
  background: #fff;
  display: inline-block;
  text-align: center;
}

.navigation {
  height: 20px;
  width: 100%;
  background: #fff;
  display: inline-block;
  word-spacing: 15px;
  text-align: center;
  line-height: 20px;
}

.navigation-content {
  height: 20px;
  background: #fff;
  display: none;
}

.navigation:hover .navigation-content {
  display: block;
}

// images
img {
  width: 100%;
}

// body & text
body {
  height: 100vh;
  display: flex;
  flex-flow: column;
  color: #333333;
  font-family: 'Karla', sans-serif;
  font-size: 12px;
  text-align: justify;
  line-height: 20px;
}

a {
  color: #333333;
  text-decoration: none;
  &:hover {
    color: inherit;
    text-decoration: none;
    filter: opacity(.5);
  }
}

b, i {
  color: #ee4000;
}

h1 {
  font-size: 100px;
  font-family: 'Lora', serif;
  color: #ee4000;
  line-height: .6em;
  letter-spacing: -7px;
  font-style: italic;
}

h2 {
  font-size: 55px;
  font-family: 'Lora', serif;
  color: #ee4000;
  font-style: italic;
  letter-spacing: -4px;
}
