// bootstrap
.container-fluid {
  width: 100%;
  margin: 0;
  flex-wrap: wrap;
}

.no-gutters{
  margin: 0;

  > .row{
  }

  > .col,
  > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
    }
  }

// parts + pages
.about {
  text-indent: 3%;
  img {
    width: 30%;
    padding: 5px 20px 15px 0px;
    float: left;
    position: relative;
  }
}

// body + text
body {
  background-color: #ffffff;
  color: #333333;
  vertical-align: middle;
  font-family: 'Karla', sans-serif;
  font-size: 12px;
  text-align: justify;
  line-height: 20px;
  padding: 70px 70px 70px 70px;
}

a {
  color: #333333;
  text-decoration: none;
  &:hover {
    color: #333333;
    text-decoration: none;
    filter: opacity(.5);
  }
}

i, em {
  font-style: italic;
}

b, strong {
  font-weight: bold;
}

h1 {
  font-size: 44px;
  font-family: 'Lora', serif;
  font-weight: normal;
  font-style: italic;
  font-display: swap;
  text-align: left;
}

h1 a {
  text-decoration: none;
  &:hover {
    color: #333333;
    text-decoration: none;
    filter: opacity(.5);
  }
}

p {
  line-height: 20px;
}
