<div class="dropdown">
  <b>menu</b>
  <div class="dropdown-content">
    <a href="/">index</a>
    <br><a href="/art">art</a>
    <br><a href="/film">film</a>
    <br><a href="/contact">contact me</a>
  </div>
</div>
