<div class="navigation fixed-top">
  <b>menu</b>
  <div class="navigation-content">
    <a href="/">index</a>
    <a href="/about">about</a>
    <a href="/animation">animation</a>
    <a href="/writing">writing</a>
    <a href="/sketchbook">sketchbook</a>
    <a href="/contact">contact</a>
  </div>
</div>
