<div class="navigation fixed-top">
  <b>menu</b>
  <div class="navigation-content">
    <a href="/">index</a>
    <a href="/about">about me</a>
    <a href="/art">art</a>
    <a href="/film">film</a>
    <a href="/contact">contact me</a>
  </div>
</div>
