---
title: a still-life drawing of a peach - alex ramos
---
<div class="row">
  <div class="col-lg-10 offset-lg-1">
    <h1 class="lilac">A STILL-LIFE DRAWING OF A PEACH</h1>
    <h2>Becoming an artist with Fiona Apple</h2>

        <div class="writing">
        <figure>
          <img src="/assets/images/fiona/f01.jpg">
          <figcaption>Photo by <a href="http://pdngallery.com/legends/legends5/celebrities/8.html">Joe McNally</a> &copy; 1998</figcaption>
        </figure>

        <p>
          There’s a term in the visual arts: “master study.” Students training in drawing and painting are frequently assigned this as an exercise to improve on foundational techniques. It’s encouraged for them to get as close to the “master” as they can, emulating both style and substance to the best of their abilities. I was pushed to study an array of “masters,” all the men of art history, from Titian, to Manet, to Hopper and finally, Keane. Successfully completing a “master study” demands a significant amount of devotion, patience and empathy. However, the student will unavoidably force a relationship with the master work; the tension exists, supposedly, to facilitate artistic growth. But what happens to all of the initial clemency? In studying to simply <i>be an artist</i>, I have rejected the loss of these characteristics in art and making. I’ve found that I have learned the most from artists – largely women – who embody them instead. I describe my work in filmmaking and writing as the result of a life-long admiration for women artists and what they have revealed to me: the intuitive, cathartic and mystical. On my left upper arm, I have the phrase “a still life drawing of a peach” tattooed. It’s a zinger in art school – like the conceptual opposite of <a href="https://collections.lacma.org/node/239578"><i>The Treachery of Images</i></a>. The lyric belongs to a song called “Valentine” by Fiona Apple – a musician whose body of work has informed my own, more than the countless Gibson Girls I’ve drawn ever will. How Apple has influenced me is less of a question of stylistic or thematic choice, but of her existence as an artist, period. In Apple and her music, I have discovered a profound self-respect, the importance of emotional generosity, and the potential of art as a means of survival and, eventually, liberation.
        </p>

        <p>
          Apple is a singer-songwriter and pianist. She was eighteen years old when her debut album <i>Tidal</i> released in 1996. It rumbled into the fray with “Sleep to Dream” which leads with the line, “I tell you how I feel / But you don’t care.” Now and then, a memory of a flamboyant, male English teacher from high school will resurface. He will point out how overbearing and tenacious I am, and it will fill my stomach with dread. At a <a href="https://fionaapplerocks.tumblr.com/post/136635549564">performance</a> in Frankfurt, Germany, the autumn post-<i>Tidal</i>, Apple prefaces the hit by saying, “I can handle being angry, I just want to know what I’m angry at.” Articulating how that exchange affected me has always been difficult, until Apple gave me the words: “You say love is a hell you cannot bear / And I say give me mine back and then go there / For all I care.” The dread turned into anger, and I realized that this man had misinterpreted my vigor as an exercise of power. To him, I was some silly, despotic anomaly, rather than a young woman taking herself seriously. Apple’s verse equipped me with a vocabulary to not only express myself, but also defend myself: “I have never been so insulted in all my life.”
        </p>

        <div class="videoWrapper">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/L9Wnh0V4HMM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>

        <p>
          In a retrospective <a href="https://pitchfork.com/thepitch/1239-the-radical-self-respect-of-fiona-apples-sleep-to-dream-20-years-on/">essay</a> for the track’s twentieth anniversary, Jenn Pelly puts it plainly: “‘Sleep to dream’ is a song vehemently against fragile egos.” There was nothing wrong with me – like her, “I got my feet on the ground / And I don’t go to sleep to dream.” I was possessed with a respect for myself and my passions, which I’ve invariably pursued under the scrutiny of institutions and the powerful men that run them. To want more as a young woman is dangerous because of these towering figures; they will prove tirelessly that it is a mere pastime. Nonetheless, in the song, “They don’t get a word. Those people hardly come to life,” Pelly writes. Apple confronted them with me.
        </p>

        <p>
          “Get Gone,” from her sophomore opus <i>When the Pawn…</i>, strikes me as similar. Apple traces her earliest songwriting attempts back to “<a href="https://www.newsweek.com/happily-ever-apple-164168">household conflict</a>” – being a child in the middle of quarrel and not being heard in those moments. “I used to go into my room and write a letter that would make my point,” she said. Every time, the shouting was too loud to read over. The self-interrogation that occurs in “Get Gone” takes a familiar shape. There is an aggressive, constant back and forth (“M’I gonna heal from this / he won’t admit to it”), demanding to be left alone (“How many times do I have to say / To get away – get gone”) and simultaneously, singing oneself into what might happen – or what <i>should</i> happen. To barter with the odds is a hefty task, yet it’s the small break in Apple’s lyricism that carries her forward. In the track’s pre-chorus, she sings:
        </p>

        <blockquote class="red">
          Cause I do know what’s good for me
          <br>And I’ve done what I could for you
          <br>But you’re not benefitting
          <br>And yet I’m sitting
          <br>Singing again, sing, sing again
        </blockquote>

        <p>
          Apple is sick of this person not caring for her and getting away with it. She calls for him to pack up and go, and let another woman carry his baggage for him (“Flip your shit past another lass’s / Humble dwelling”). At the same time, she is second-guessing herself and longing for what good remains… none, obviously (“There’s nothing left to grieve”). So, she makes herself even clearer by tweaking the last pre-chorus ever so slightly:
        </p>

        <blockquote class="red">
          Cause I’ve done what I could for you
          <br>And I do know what’s good for me
          <br>And I’m not benefitting, instead
          <br>I’m sitting singing again
          <br>Singing again, singing again, sing, sing again
        </blockquote>

        <p>
          To want more as a woman is dangerous because it is a threat to the norms that govern our closest relationships. Despite this, Apple wagers on what she knows to be right. She plucks herself out of the situation by her own hands, regardless of what it entails. She demands more, animating her audience to do the same. In fact, the full title of <i>When the Pawn…</i>, which spans ninety words, is a poem that pushes the reader to follow through with what they believe in. It concludes, “And if you know where you stand then you know where to land / And if you fall it won’t matter ‘cause you know that you’re right.” (“But sometimes you’ll be wrong,” she adds <a href="https://www.youtube.com/watch?v=11JEG2kjynA">in a 2016 video.</a>) This song is just a few minutes of clarity out of many. “I feel really responsible for this album,” Apple remarked to <i>Newsweek</i> in 1999. “I knew what I wanted, and I got what I wanted.” To want more is half the battle; Apple gave me the words to go for it. It’s as simple as that.
        </p>

        <div class="musicWrapper">
          <iframe src="https://open.spotify.com/embed/track/32yottFNSCL9Nho9biIKzY" width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
        </div>

        <p>
          Of course, in the actual “business” of art, there are a number of barriers: buyers, galleries, management, contracts and let’s not forget – the people who shaped the collective idea of Fiona Apple as we know her ­– the press. It took Apple six years to release her next album, <i>Extraordinary Machine</i>. Various factors hindered it. On one hand, Sony was persistent in the need for a radio hit, another “Criminal.” On the other, she felt no connection to the album’s first iteration and sought to re-record with producer Mike Elizondo. Her record label’s response was hostile, requiring Apple to submit entries one-by-one before she could receive the funds to make more. Talking to Nylon in 2005, Apple recounts, “I feel like if I could let that happen, then I’m dead, then I’ve given up something really important to me, which is my autonomy and writing music.”
        </p>

        <p>
          Losing one’s artistic integrity is a feature of the capitalist infrastructure Apple and I are a part of. Plenty of artists succumb to the same demands, trapped in the cycle of productivity and content creation. A mismatched series of events – including a haphazardly produced leak, a fan campaign involving nearly 1,500 apples, and having to source equipment from friends – eventually brought about the published version of <i>Extraordinary Machine</i>. “Please Please Please” is a track commonly overlooked as “filler,” with definitive songs like “Red Red Red” and “Not About Love” succeeding it. As a reactionary tune, “Please Please Please” is hilarious and rife with irony; it’s a sardonic jab at the process of having to make something with someone hovering over your shoulder. I can imagine Apple rolling her eyes, singing:
        </p>

        <blockquote class="red">
          But me and everybody’s on the sad, same team
          <br>And you can hear our sad brains screaming:
          <br>‘Give us something familiar; something similar
          <br>– To what we know already
          <br>That will keep us steady
          <br>Steady
          <br>Steady going nowhere’
        </blockquote>

        <p>
          Her voice is dismal, somewhat annoyed. There’s a heaviness to her bash of the piano; if it weren’t so rhythmic, I could be convinced that she was dragging her fingers a little bit more than usual. It makes the track sound as harsh as it is humorous. The song is an example of an artist using her medium to expose the hypocrisy of what initially shot her to fame (“Please please please / No more melodies”) and refusing the calls to replicate it nine years later. Regarding her participation in another album rollout for <i>Extraordinary Machine</i>, she comments, “I think maybe it’s a science experiment. Like, it’s a personal thing for me, to see how I handle it this time around.” (Nylon 2005) In this world, artists are made easily malleable, vulnerable to those with the status and money to manipulate or silence them. Mapping a path towards artistic self-sufficiency (that is, fulfillment), to be rid of the constraints of traditional, economic definitions of success, relies on the ability to recognize one’s voice as necessary and important outside of it all. Apple’s work has never ceased to be purely hers for this reason. Even at its most contrived, she will show up for herself – “My method is uncertain / It’s a mess, but it’s working.”
        </p>

        <div class="musicWrapper">
          <iframe src="https://open.spotify.com/embed/track/77HX2e9ez1IpSiev5JiZ9A" width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
        </div>

        <p>
          Susan Sontag once wrote that she “[did not] care about someone being intelligent; any situation between people, when they are really human with each other, produces ‘intelligence.’ ” With that said… I am often alone. If not spent at a part-time job, my days are typically fraught with seminars on the “correct” way to structure a story or working hours on end on short films that live to collect dust in the months after deadline. There’s little room to form attachments. Living this way, my relationships have dwindled down to what’s vital. The unconditional, so to speak. These are not bonds that linger solely because of mutual interests or attraction. They develop an intimacy with time and reciprocated thoughtfulness – an “intelligence” that is cultivated almost instinctively. Likewise, I become attached to the voices and sounds that support me when these people, or I myself, cannot. Cut to Fiona Apple putting out <i>The Idler Wheel Is Wiser Than the Screw and Whipping Chords Will Serve You More Than Ropes Will Ever Do</i> – this time, seven years following her last release. I was taken. My devotion to her crystallized with every rotation! The record wafts and fills a room like incense; it tricks the listener with a slow drip of marimba that turns into thigh clapping, gravel stomping and drumming that mimics a heartbeat. It is so endlessly giving, so “intelligent.” That’s the thing about art that makes one feel seen: it permits them to feel smarter and more eloquent. It makes someone feel changed, as if they’ve already gone from point A to B. This feeling of momentum propels one forward.
        </p>

        <div class="videoWrapper">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/bIlLq4BqGdg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>

        <p>
          “Every Single Night,” which introduces <i>The Idler Wheel…</i>, is anthemic to that sentiment. Through the likeness of fluttering “white-flamed butterflies in [her] brain,” Apple traces the course of what keeps her up at night (“These ideas of mine / percolate the mind”) and how it rattles her brain and body (“That’s when the pain comes in / Like a second skeleton / Trying to fit beneath the skin”). There’s no way to “fit the feelings in” without surrendering to them. It hurts to try and stifle the pain. Her voice clatters – she knows these feelings are inevitable, intrinsic to her existence even. The thought of talking to another woman who might misconstrue what Apple says shakes her. What if the self that she presents doesn’t match up with who she should be? She begins to feel like a fraud – imposter syndrome in full gear. She bellows into the chorus, “Every single night’s a fight / With my brain, brain.” However overwhelmed and intimidated she might be, the song proves this can turn over when Apple finally says, “I just want to feel everything.” Suddenly, there’s a ticket out of it, if she could only give up control:
        </p>

        <blockquote class="red">
          So I’m gonna try to be still now
          <br>Gonna renounce the mill a little while and
          <br>If we had a double-king-sized bed
          <br>We could move in it and I’d soon forget
          <br>That what I am is what I am ‘cause I does what I does
          <br>And maybe I’d relax; let my breast just bust open
        </blockquote>

        <p>
          There is more to the push and pull of Apple’s brain. For one, there is her heart, a machine in and of itself. “My heart’s made of parts of all that surround me / And that’s why the devil just can’t get around me,” she sings. A part of her is shielded, presumably by what she holds dear. Akin to how my heart is armored by this song, there are things that protect Apple from “the devil.” Away from that, there is space for both hurt and comfort. The last time I heard “Every Single Night” outside of my playlists (a casual form of solipsism, in my opinion), I was watching television. The seventh episode of HBO’s <i>Euphoria</i> ends with main character Rue struggling to get to the bathroom while going through a depressive episode. “I had a therapist once who said that these states will wax and wane,” she narrates. “Granted, I didn’t realize until later what waxing and waning implied – that these feelings were fixed and constant and would never end for the rest of my life.” We see Rue in bed with a distant gaze, folded in her mother’s arms. The final shot is of her best friend Jules on a rooftop, looking over a quiet city after texting Rue, “you have no idea how much I missed you.” The screen turns to black and “Every Single Night” begins to play. Rue’s words ring true in and out of <i>Euphoria</i>’s universe in the same way Apple warns us earlier; there’s no ignoring emotions that will wax and wane anyway. She channels them best through her music, where her voice becomes boundless. The track’s last chorus is swift in its reversal, reassuring herself that it’s alright to be at odds with yourself sometimes:
        </p>

        <blockquote class="red">
          Every single night’s alright
          <br>Every single night’s a fight
          <br>And every single fight’s alright
          <br>With my brain
          <br>I just want to feel everything
        </blockquote>

        <p>
          Artistically speaking, I feel like this album is where Apple and I meet. <i>The Idler Wheel…</i> ferments her spirit and musical ideas into art that is both romantic and grotesque, and wholly cinematic. I identify with it stylistically. Her raw emotion is not just “anger” or “sadness” point blank, but an intricate web of impulses woven by her prose. She is brutally honest. The record endures as a hard listen to some, especially those who take her words at face value. Their inability to come to terms with how she’s been painted in the past and her growing musical audacity is relentless. Apple’s work is a cathartic ritual to relieve her of the burden that she carries as a woman and artist in our culture. It is also her greatest gift. In conversation with <a href="https://www.vulture.com/2019/09/fiona-apple-is-still-calling-bullshit.html"><i>Vulture</i></a>, she describes her relationship to her fans: “If you’re intimate with my music, you’re intimate with me and I’m intimate with you. I feel like you’re my friend.” Apple is nothing short of genuine; if you listen close enough, you’ll feel it too.
        </p>

        <figure class="val float-right">
          <img src="/assets/images/fiona/f02.jpg">
          <figcaption>My "Valentine" tattoo, via <a href="https://www.instagram.com/p/Bnxn9zvBVFs/">Instagram</a>, 2018</figcaption>
        </figure>

        <p>
          Writing this, I am twenty-two years old. When I was nineteen, I retreated into a two-year slump. I wore myself out by being too “tenacious” again, placing myself in one more environment set up <i>not</i> to support me (he warned me, didn’t he?). I felt that my efforts were futile; I was depressed. For a while, I was convinced there was no room to grow. I emerged two summers later with clarity and a new love. I had the phrase “a still-life drawing of a peach” etched on my arm to remember that those two years were not a fall from grace. The tattoo represents a moment when I felt short, stuck and trapped in time. As I mentioned, the words come from “Valentine,” another song off <i>The Idler Wheel…</i> It portrays Apple eyeing someone she admires but feeling hurt by the lack she perceives in herself:
        </p>

        <blockquote class="red">
          You didn’t see my valentine
          <br>I sent it via pantomime
          <br>While you were watching someone else
          <br>I stared at you and cut myself
          <br>- it’s all I’ll do ‘cause I’m not free
          <br>A fugitive, too dull to flee
          <br>I’m amorous but out of reach
          <br>A still-life drawing of a peach
        </blockquote>

        <p>
          This verse is piercing in its words and imagery, but Apple is gentle to herself and her subject. Her voice is hushed, trying to make peace with not being free. She feels more alive watching the other person, paralyzing herself into a “still-life” – a façade of herself. As much as Apple reveres this person, she yearns and lives vicariously through them. In her admiration, she harms herself. She contends these contradictions through the track’s chorus, singing, “I root for you, I love you / you, you, you, you.” The pulse of her piano is urged further by her drawn vocal, yet she always comes back to “I root for you, I love you.” Illustrating herself as these objects (“I’m a tulip in a cup / I stand no chance of growing up”) provides a lightness and distance from the situation, as opposed to the eye-to-eye intensity of her previous output on <i>Tidal</i> and <i>When the Pawn…</i> Her words bear the same weight but now have the sharpness of more time and experience. I’ll say it too: I feel saved. There’s a part of me that feels called out. More than that, I feel heartened. “Valentine” took me out of my “still-life.” I will always be thankful. Apple’s ease with which she balances rich expression and artistic technique is a feat, although it’s her capacity to be open and sincere that sticks with listeners. In a <a href="https://www.billboard.com/articles/news/483015/fiona-apple-the-billboard-cover-story"><i>Billboard</i></a> interview from 2012, Apple states that she has always felt creative freedom by knowing her work’s worth. She embraces being “the authority” on what makes her music true: “My dad keeps reminding me, <i>You said, ‘As long as it’s honest, it’s right.’</i> ”
        </p>

        <div class="musicWrapper">
          <iframe src="https://open.spotify.com/embed/track/4Xh9pVPgjZoEeoxgnqbXVk" width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
        </div>

        <p>
          Apple nails this direction in her fifth and latest record, <i>Fetch the Bolt Cutters</i>. “Heavy Balloon” in particular depicts an acknowledgement and overthrow of the same depression I discuss. The childlike imagery is stilted by her grit and the percussive-heavy groove. Compared to “Every Single Night,” where she wrestles her neuroses individually, Apple honors the “people like us,” bound to things that keep us down and troubled. She describes the depression of a “heavy balloon” as “this hindrance, this obligation, this constant thing to be taken care of” in a <a href="https://www.vulture.com/2020/04/fiona-apple-fetch-the-bolt-cutters-songs.html">track-by-track commentary</a>. It’s a constant, looming storm. “The devil” is holding out too, taunting us while we struggle to keep it up. It is too arduous a chore at times that our lows are appointed as our new normal:
        </p>

        <blockquote class="red">
          People like us get so heavy and so lost sometimes
          <br>So lost and so heavy that the bottom is the only place we can find
          <br>You get dragged down, down to the same spot enough times in a row
          <br>The bottom begins to feel like the only safe place that you know
        </blockquote>

        <p>
          We fail repeatedly (“It always falls way too soon”), but Apple concedes with the awareness of her own potential (“But you know what?”). The music is forcefully convincing. She fortifies it with a mantra (“I spread like strawberries / I climb like peas and beans”); no matter what, she will grow and move as she does. We take her word because she speaks with candor – and if she can do it, then so can we. Apple extends her humanity through art – an invaluable gesture – nudging us to run the course of our own obstacles to get to the other side.
        </p>

        <div class="musicWrapper">
          <iframe src="https://open.spotify.com/embed/track/2OQpQTRogZ1AhnUHJiT9Nb" width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
        </div>

        <p>
          <i>Fetch the Bolt Cutters</i> was originally slated for an October 2020 delivery. Apple insisted (over text messages!) that it must be out sooner; there was no better time to share it. It came in April, about a month into California’s quarantine. The global onset of the COVID-19 pandemic required orders of widespread “social distancing,” a period of lockdown that has cost many their lives and livelihoods. The universal toil of coping with profuse change and trauma is palpable. However, staying in is not a new practice for Apple, whose presence as a “celebrity” has been spectral at best. She returns to the public eye briefly after each musical harvest, appearing in a handful of music videos, chatting to reporters and playing gigs. There’s generally a thick air of pretense surrounding her releases, a consequence of the shadow cast by how she was perceived as a young artist. When cued to recite a random entry from her journal, in a 1998 profile for <a href="https://www.rollingstone.com/music/music-news/fiona-the-caged-bird-sings-244221/"><i>Rolling Stone</i></a>, Apple finds a passage that partly reads: “Most people don’t know nothing but opinions / Very few find the facts.” It has always been a spectacle for everyone but herself. In art, a combination of eccentric behavior and self-isolation is known to spawn an assortment of crazed geniuses à la Van Gogh. This stereotype is substantially damaging, stripping the artist of the humanity they have and exert into their work. For years, this idea was projected onto Apple under layers of misogyny. One way or another, we are all complicit: both swept away by the idea of a gifted woman on the outs and afraid of what she can possibly achieve.
        </p>

        <p>
          Apple’s work has always been self-sufficient because of her inclination towards the truth; she does well to step back and approach past misfortunes from new viewpoints. Her artistic voice simmers in isolation, the stretch of time in between album completions. <i>Extraordinary Machine’s</i> “Waltz (Better Than Fine)” renders this setting nearly sacred, a place to be as free as she can, rid of the itch to act or show up:
        </p>

        <blockquote class="red">
          If you don’t have a song to sing
          <br>You’re ok
          <br>You know how to get along humming
          <br>If you don’t have a date
          <br>Celebrate
          <br>Go out and sit on the lawn
          <br>And do nothing
          <br>– ‘Cause it’s just what you must do and
          <br>Nobody does it anymore
        </blockquote>

        <p>
          Time passes, but it’s no big deal. Apple finds it useless to take part in what people expect her to be doing without intent or purpose. She would rather sit outside – a needed break that we, at least until our present circumstances, have underestimated the value of. The lucidity of this song is dreamy – her voice secures a calmness that reverberates; the instruments build a tempered waltz that blooms into romantic pacing with organ, drums and strings. “Waltz (Better Than Fine)” bookends (in tandem with opener “Extraordinary Machine,” of course) an examination of the toxic affairs that have made Apple doubt herself in some way. The track champions following one’s own rhythms, prioritizing kindness and independence over the erratic “beat” of conceit. Apple is confident in her steadiness: “No, I don’t believe in the wasting of time / But I don’t believe that I’m wasting mine.”
        </p>

        <div class="musicWrapper">
          <iframe src="https://open.spotify.com/embed/track/7neXV046ou4CNN9wyFAED6" width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
        </div>

        <p>
          Her contentedness and tolerance shift entirely on <i>Fetch the Bolt Cutters</i>, taking notes from the driving percussion of <i>The Idler Wheel…</i>’s “Daredevil” and “Hot Knife.” <i>Fetch the Bolt Cutters</i> ties a bow – at least, thematically – on Apple’s first four records. Everything and everyone that she has been at the mercy of comes to a head and is shoved under a microscope. Its emotional landscape is vivid: all of the joy and hurt are as tangible as they were then, if not exacerbated by the rage that oozes throughout. They’re punctuated by her wordplay – coquettish and wry. The titular song was written after Apple met the quota for the record but felt that she had just one more thing to say. Upon starting, she asked, “Is this cheesy to write a song that’s the title?” (Vulture 2020) The outcome is a pensive scribble on what kept her captive: being “blacklisted,” snubbed by the “cool kids” and the “it girls.” Apple’s self-worth was jarred in childhood – “Middle school is where my sense of myself started based on what other people thought of me,” she explains. It carried into her early career as an artist, where she felt the pressures that, in time, boxed her in. It’s in the lyrics: “Fetch the bolt cutters / I’ve been in here too long.” I see her reconcile the ways she has internalized “the noise” of other people’s judgements and how, all in all, she never deserved it. The meditative state of “Waltz (Better Than Fine)” has been thrust out. She sings to be free:
        </p>

        <blockquote class="red">
          I grew up in the shoes they told me I could fill
          <br>Shoes that were not made for running up that hill
          <br>And I need to run up that hill, I need to run up that hill
          <br>I will, I will, I will, I will, I will
          <br>Fetch the bolt cutters, I’ve been in here too long
          <br>Fetch the bolt cutters, whatever happens, whatever happens
        </blockquote>

        <div class="musicWrapper">
          <iframe src="https://open.spotify.com/embed/track/4SdubskbLiOkpsIjRVVsya" width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
        </div>

        <p>
          The hazy forty-eight hours I spent in the wake of <i>Fetch the Bolt Cutters</i> was thrilling. I played it over while studying, working and resting. It was a renewal of faith, affirming again what her work means to me as a woman and artist. Until then, my relationship to Apple’s music was unaccompanied. The seclusion that has come about in my life sheltered my engagement with anything related to her. This privacy was an advantage in unearthing many of the lessons I raised. I savored her melodies and read the lyrics like spells by my lonesome. My heart’s proximity to her music was enough. This arrangement was jumbled by the end of my first listen of <i>Fetch the Bolt Cutters</i>. It was a <a href="https://www.npr.org/2020/04/19/838236937/the-wit-wisdom-and-awe-of-fiona-apples-fetch-the-bolt-cutters">communal</a> event of <a href="https://pitchfork.com/reviews/albums/fiona-apple-fetch-the-bolt-cutters/">proportions</a> I never could have <a href="https://twitter.com/hashtag/fetchtheboltcutters">predicted</a>.
        </p>

        <p>
          A quick search will impart just how far a reach <i>Fetch the Bolt Cutters</i> has and how many people it has given respite to in these long, wearying months. Even in the face of criticism, Apple’s music will continue to provide. Not only has she persevered as a figure of personal and artistic authenticity but has also, time and again, demonstrated the power of art and making as a way to channel suffering, and to transform it into something that can inspire healing and liberation. The ways in which we socialize use music as a marker of identity. It serves to signal what one endorses: aesthetics, experiences and values. This is vital in understanding the success of <i>Fetch the Bolt Cutters</i> and Apple’s music at large, and why so many are still hesitant to accept it. I felt so happy in those forty-eight hours, seeing so many strangers say, “I get it.” I felt validated. It’s a nod en masse to how tired we all are of this <a href="https://www.youtube.com/watch?v=42gNkySFycA">bullshit</a>. Our standards for artists like Fiona Apple are harshly unrealistic. She once said, “I want my mistakes to be in there because that’s who I am, and I’m only as cool as I am because of the mistakes that I have made and because of how I’ve handled them.” This <a href="https://youtu.be/DgK2_JlbPEM?t=270">interview</a> was broadcast two months after her infamous 1997 speech. None of us are perfect, and none of us should aspire to be. It’s a slippery slope. Twenty-something years down the line, Apple’s message is still clear: <i>go with yourself.</i>
        </p>

        <div>
          <figure>
            <img src="/assets/images/fiona/f03.jpg">
            <figcaption>Photo by Zelda Hallman via <a href="https://www.instagram.com/p/B_C7nyppOJs/">Instagram</a>, 2020</figcaption>
            <br>
            </figure>
        </div>
    </div>
    <div class="note">
      This essay was written for <i>Influences: Writers on Writers, Makers on Making</i>, a class at CCA in Oakland, CA (occupied Ohlone land). It was originally published on May 12, 2020.
      <br><br>Thank you to W. Spence for editing and code wizardry. If you enjoyed this: please consider donating to the <a href="https://oaklandworkersreli.wixsite.com/oswrf">Oakland Workers Fund</a>,
      a BIPOC and QTPOC-led relief that supports BIPOC, LGBTQIA+, disabled, undocumented, unhoused and Oakland/Bay Area born and raised workers impacted by COVID-19.
      <br><br>The images accompanying this essay belong to their respective sources, unless otherwise stated. Please <a href="/contact">contact me</a> if you want them removed.
      <br><br><center><a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/"><img class="ccl" alt="Creative Commons License" src="https://i.creativecommons.org/l/by-nc-nd/4.0/88x31.png" /></a></center>
    </div>
  </div>
</div>
