<div class="footer fixed-bottom">
  <span class="social">
    <a href="https://www.linkedin.com/in/lexmramos/" class="social-link"><i class="fab fa-linkedin red"></i></a>
    <a href="https://vimeo.com/lexmramos" class="social-link"><i class="fab fa-vimeo blue"></i></a>
    <a href="https://www.instagram.com/lexmramosart/" class="social-link"><i class="fab fa-instagram-square yellow"></i></a>
    <a href="mailto:lexmramos@gmail.com" class="social-link"><i class="fas fa-envelope-square red"></i></a>
  </span>
  <span class="copy yellow">&copy; 2019–2020</span>
</div>