<div class="footer fixed-bottom">
  <span class="copy red">V3 &copy; 2019–2020 Alex Ramos</span>
  <span class="social">
    <a href="https://www.linkedin.com/in/lexmramos/"><i class="fab fa-linkedin red"></i></a>
    <a href="https://vimeo.com/lexmramos"><i class="fab fa-vimeo red"></i></a>
    <a href="https://www.instagram.com/lexmramosart/"><i class="fab fa-instagram-square red"></i></a>
    <a href="mailto:lexmramos@gmail.com"><i class="fas fa-envelope-square red"></i></a>
  </span>
</div>