<div class="navigation">
  <span class="navi-title"><a href="/" class="red">Alex Ramos</a></span>
  <span class="navi-content">
    <a href="/" class="navi-link red">Work</a>
    <a href="/anim" class="navi-link blue">Animation</a>
    <a href="/writing" class="navi-link yellow">Writing</a>
    <a href="/about" class="navi-link red">About</a>
  </span>
</div>