<div class="navigation fixed-top">
  <div class="menu"><b>menu</b></div>
  <div class="navigation-content">
    <a href="/">index</a>
    <a href="/about">about</a>
    <a href="/film">film & video</a>
    <a href="/writing">writing</a>
    <a href="/contact">contact</a>
  </div>
</div>
