<div class="navigation fixed-top">
  <span class="navi-title"><a href="/" class="red">Alex Ramos</a></span>
  <span class="navi-content">
    <a href="/" class="navi-link red">Work</a>
    <a href="/writing" class="navi-link blue">Writing</a>
    <a href="/about" class="navi-link yellow">About</a>
  </span>
</div>