<div class="navigation fixed-top">
  <span class="nav-content"><a class="red" href="/">Work</a></span>
  <span class="nav-content"><a class="blue" href="/writing">Writing</a></span>
  <span class="nav-content"><a class="yellow" href="/about">About</a></span>
  </div>
