<div class="navigation fixed-top">
  <div class="nav-content"><a class="red" href="/">Portfolio</a></div>
  <div class="nav-content"><a class="red" href="/film">Film & Video</a></div>
  <div class="nav-content"><a class="red" href="/illust">Illustration</a></div>
  <div class="nav-content"><a class="red" href="/writing">Writing</a></div>
  <div class="nav-content"><a class="red" href="/contact">Contact</a></div>
  </div>
