<div class="navigation">
  <span class="navi-title"><a href="/" class="lilac">Alex Ramos</a></span>
  <span class="navi-content">
    <a href="/artwork" class="navi-link lilac">Artwork</a>
    <a href="/writing" class="navi-link lilac">Writing</a>
    <a href="/on-air" class="navi-link lilac">On-Air</a>
  </span>
</div>