<div class="navigation">
  <span class="navi-title"><a href="/" class="red">Alex Ramos</a></span>
  <span class="navi-content">
    <a href="/artwork" class="navi-link blue">Artwork</a>
    <a href="/writing" class="navi-link yellow">Writing</a>
  </span>
</div>