<div class="navigation fixed-top">
  <div class="nav-content"><a class="red hvr-fade" href="/">Portfolio</a></div>
  <div class="nav-content"><a class="red hvr-fade" href="/film">Film & Video</a></div>
  <div class="nav-content"><a class="red hvr-fade" href="/writing">Writing</a></div>
  <div class="nav-content"><a class="red hvr-fade" href="/about">About</a></div>
  </div>
