---
title: about me - alex ramos
---
<div class="row">

  <div class="col-sm-5 align-self-center">
  <figure>
    <%= image_tag 'alex/alex.jpeg' %>
    <figcaption>by <a href="https://belnario.carbonmade.com/">Bel Nario</a> © 2020.</figcaption>
  </figure>
  </div>
  
  <div class="col-sm-7 align-self-center">
    <p>
      Hi, my name is <b>Alex Ramos</b>. I’m an artist from the San Francisco Bay Area.
      My specialization is storyboarding, but I can design, animate and direct, too.
    <p>
      I also write and edit for a handful of (mostly independent) publications. Currently, I’m Editor-in-Chief at
      <a href="http://sunstrokemagazine.com/">Sunstroke Magazine</a>,
      a print zine and interdisciplinary arts collective that centers Generation Z, culture and activism.
      In the Spring of 2021, I will be an editorial intern at <a href="https://www.npr.org/music/">NPR Music</a>.
    </p>
    <p>
      I’d love to hear from you. Send me an email at the address below if you’re interested in working together
      or having a chat. &#x1f58d;
    </p>
    <center><a href="mailto:lexmramos@gmail.com" class="button hvr-fade">lexmramos@gmail.com</a></center>
  </div>

</div>