---
title: about me - alex ramos
---
<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-4 align-self-center">
      <p>
        <b>alex ramos</b> is a visual artist and writer based in the san francisco bay area.
        she is currently a junior at california college of the arts in oakland, ca, studying animation.
      </p>
    </div>
    <div class="col-4 align-self-center">
      <%= image_tag 'houseforbirds.png' %>
    </div>
  </div>
</div>
