---
title: about me - alex ramos
---
<div class="row">

  <div class="col-sm-5 align-self-center">
  <figure>
    <%= image_tag 'alex/alex.jpeg' %>
    <figcaption>Photo by <a href="https://belnario.carbonmade.com/">Bel Nario</a> © 2020</figcaption>
  </figure>
  </div>
  
  <div class="col-sm-7 align-self-center">
    <p>
      I’m a multidisciplinary artist and writer from the San Francisco Bay Area.
      My specialization is storyboarding for television and feature film, and crafting cultural criticism,
      but I can illustrate, design, code, animate, produce and direct, too.
    <p>
      I’m currently at <a href="https://www.npr.org/music/">NPR Music</a> as an editorial intern.
      I’m also the Editor-in-Chief for <a href="http://sunstrokemagazine.com/">Sunstroke Magazine</a>,
      a print zine and interdisciplinary arts collective that centers Generation Z, culture and activism.
    </p>
    <p>
      I’d love to hear from you! Send me an email at the address below if you’d like to get in touch with me.
    </p>
    <center><a href="mailto:lexmramos@gmail.com" class="button hvr-fade">lexmramos [at] gmail [dot] com</a></center>
  </div>

</div>