---
title: about me - alex ramos
---
<div class="row">

  <div class="col-sm-5 align-self-center">
    <%= image_tag 'alex/houseforbirds.png' %>
  </div>
  
  <div class="col-sm-7 align-self-center">
    <p>
      Hi – my name is <b>Alex</b>. I’m a storyboard artist and writer from the San Francisco Bay Area.
      I tell stories to pass on what art has revealed to me: the intuitive, cathartic and mystical.
    <p>
      I also write music criticism. Currently, I’m Editor-in-Chief at <a href="http://sunstrokemagazine.com/">Sunstroke Magazine</a>,
      a print zine and interdisciplinary arts collective that centers Generation Z, culture and activism.
    </p>
    <p>
      I’m available for all kinds of work opportunities. Send me an email at the address below if you’re looking to collaborate,
      send music for review, or have a chat. &#x1f58d;
    </p>
    <center><a href="mailto:lexmramos@gmail.com" class="button hvr-fade">lexmramos@gmail.com</a></center>
  </div>

</div>