---
title: about me - alex ramos
---
<div class="row">
  <div class="col-6 align-self-center">
    <p>
      <b class="red">alex ramos</b> (b. 1997) is a visual artist, filmmaker and writer from the san francisco bay area.
      she studies animation at california college of the arts in oakland, ca, and will be entering
      her senior year in the fall of 2020.
      <br><br>
      her work is rooted in experimental storytelling and its potential to communicate emotional abstractions;
      it is the result of a life–long admiration for women artists and what they've revealed to her —
      the intuitive, cathartic and mystical.
      <br><br>
      please <a class="red" href="/contact">get in touch</a> if you'd like to collaborate or say hello! <b class="red">★</b>
    </p>
  </div>
  <div class="col-6 align-self-center">
    <%= image_tag 'alex/houseforbirds.png' %>
  </div>
</div>
