---
title: about me - alex ramos
---
<div class="row">
  <div class="col-sm align-self-center">
    <%= image_tag 'alex/houseforbirds.png' %>
  </div>
  <div class="col-sm align-self-center">
    <p>
      <b class="red">alex ramos</b> (b. 1997) is an interdisciplinary artist, writer and editor from the san francisco bay area.
      she is a senior at california college of the arts, studying animation with a focus on storyboarding and visual development.
      she is also editor-in-chief at <a href="https://sunstrokemagazine.com">sunstroke magazine</a>, a print zine
      and interdisciplinary arts collective that centers generation z, culture and activism.
    </p>
    <p>
    her personal work is rooted in experimental storytelling and its potential to communicate emotional abstractions,
    regardless of the medium; it is the result of a life-long admiration for womxn artists and what they have
    revealed to her — the intuitive, cathartic and mystical.
    </p>
    <p>
      please <a href="mailto:lexmramos@gmail.com">reach out</a> if you’d like to collaborate or say hello.
    </p>
    <p>
      &#x1f58d;
    </p>
  </div>
</div>
