---
title: about me - alex ramos
---
<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-4 align-self-center">
      <p>
        <b>alex ramos</b> is a visual artist, filmmaker and writer from the san francisco bay area.
        she is currently a junior at california college of the arts in oakland, ca, studying animation.
        her work is rooted in experimental storytelling and using the medium of animation to convey
        emotional abstractions.
        <br><br>
        please <a href=/contact">get in touch</a> if you'd like to collaborate or say hello!
      </p>
    </div>
    <div class="col-4 align-self-center">
      <%= image_tag 'houseforbirds.png' %>
    </div>
  </div>
</div>
