---
title: about me - alex ramos
---
<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-4 align-self-center">
      <p>
        hi, my name is <b>alex</b>. i am a filmmaker and visual artist based in the san francisco bay area.
        <br><br>
        i am currently in my junior year at california college of the arts in oakland, ca, studying animation.
        my favorite color is red, and my main hobby is <a href="/writing">writing</a> about music that i like.
      </p>
    </div>
    <div class="col-4 align-self-center">
      <%= image_tag 'houseforbirds.png' %>
    </div>
  </div>
</div>
