---
title: about me - alex ramos
---
<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-4 align-self-center">
      <p>
        Hi, my name is <b>Alex</b>. I am a visual artist and writer based in the San Francisco Bay Area.
        <br><br>
        I am currently studying Animation at California College of the Arts in Oakland, CA, where I am honing my
        visual storytelling and development skills. This winter, I will be finishing my first short film "Dinner,"
        about a couple going on an anniversary date. Outside of my studies and practice, I help out at a wonderful,
        tiny, local <a href="http://souvenir-coffee.com">coffee shop</a>, write about art, books and music, and
        volunteer in my community.
        <br><br>
        I am always looking for opportunities, direct or adjacent to my interests, and love immersing myself in all
        kinds of creative work. Please reach out at <a href="mailto:lexmramos@gmail.com"><b>lexmramos@gmail.com</b></a>
        to request a portfolio, send some music for review, or a chat.
      </p>
    </div>
    <div class="col-4 align-self-center">
      <%= image_tag 'houseforbirds.png' %>
    </div>
  </div>
</div>
