---
title: about me - alex ramos
---
<div class="row">
  <div class="col-sm align-self-center">
    <%= image_tag 'alex/houseforbirds.png' %>
  </div>
  <div class="col-sm align-self-center">
    <p>
      <b class="red">alex ramos</b> (b. 1997) is an artist and writer from the san francisco bay area.
      they study animation at california college of the arts in oakland, ca, and will be entering their
      senior year in the fall of 2020.
    </p>
    <p>
    their personal work is rooted in experimental storytelling and its potential to communicate emotional abstractions,
    regardless of the medium; it is the result of a life-long admiration for women artists and what they have
    revealed to them — the intuitive, cathartic and mystical.
    </p>
    <p>
      please <a href="mailto:lexmramos@gmail.com">reach out</a> if you’d like to collaborate or say hello.
    </p>
    <p>
      &#x1f58d;
    </p>
  </div>
</div>
