---
title: about me - alex ramos
---
<div class="row">

  <div class="col-5 align-self-center">
    <%= image_tag 'alex/houseforbirds.png' %>
  </div>
  
  <div class="col-7">
    <p>
      <b class="red">Alex Ramos</b> (b. 1997) is an artist and writer from the San Francisco Bay Area.
      They are a senior at California College of the Arts, studying Animation with a focus on storyboarding,
      2D design and character animation. Alex is also Editor-in-Chief at <a href="https://sunstrokemagazine.com/">Sunstroke Magazine</a>,
      a print zine and interdisciplinary arts collective that centers Generation Z, culture and activism.
    </p>
    <p>
      They are available for commissions, testing, freelance and in-house work opportunities. Please email them at the address below if you are
      looking to collaborate, send music over for review or say hello. &#x1f58d;
    </p>
    <center><a href="mailto:lexmramos@gmail.com" class="button hvr-fade">lexmramos@gmail.com</a></center>
    <div></div>
  </div>

</div>