---
title: about me - alex ramos
---
<div class="row">
  <div class="col-sm align-self-center">
    <%= image_tag 'alex/houseforbirds.png' %>
  </div>
  <div class="col-sm align-self-center">
    <p>
      <b class="red">Alex Ramos</b> (b. 1997) is an artist, writer and editor from the San Francisco Bay Area.
      They are a senior at California College of the Arts, studying Animation with a focus on storyboarding and visual development.
      They are also Editor-in-Chief at <a href="https://sunstrokemagazine.com/alex-ramos">Sunstroke Magazine</a>, a print zine
      and interdisciplinary arts collective that centers Generation Z, culture and activism.
    </p>
    <p>
    Their personal work is rooted in experimental storytelling and its potential to communicate emotional abstractions,
    regardless of the medium; it is the result of a life-long admiration for womxn artists and what they have
    revealed to them — the intuitive, cathartic and mystical.
    </p>
    <p>
      They are available for testing, commissions, freelance and in house work opportunities.
      Please email me at <a href="mailto:lexmramos@gmail.com">lexmramos (at) gmail (dot) com</a> if you’d like to collaborate,
      send music over for review or say hello.
    </p>
    <p>
      &#x1f58d;
    </p>
  </div>
</div>
