---
title: artwork - alex ramos
---
<div class="row space-below-lg">
  <div class="col-sm">
    <h1>Artwork</h1>
  </div>
</div>

<div class="row space-below-art">
 <div class="col-sm space-below-art">
   <img src="/assets/images/work/songs-like-spells.jpg" class="rounded-corners">
   <figcaption><a href="https://www.sunstrokemagazine.com/archive/2021/6/19/songs-that-feel-like-spells">Songs That Feel Like Spells</a><br>Sunstroke Magazine, 2021</figcaption>
 </div> 
 <div class="col-sm">
    <img src="/assets/images/work/rm-9.jpg" class="rounded-corners">
    <figcaption><a href="https://www.sunstrokemagazine.com/archive/2021/4/23/remedy-melodies-09-falling-in-between">Remedy Melodies 09: Falling in Between</a><br>Sunstroke Magazine, 2021</figcaption>
 </div>
</div>

<div class="row space-below-art">
  <div class="col-sm">
    <img src="/assets/images/work/reflections-from-sea.jpg" class="rounded-corners">
    <figcaption><a href="https://www.sunstrokemagazine.com/archive/2021/6/13/reflections-from-sea">Reflections from Sea</a><br>Sunstroke Magazine, 2021</figcaption>
  </div>
</div>

<div class="row space-below-art">
  <div class="col-sm space-below-art">
    <img src="/assets/images/work/rm-2.jpg" class="rounded-corners">
    <figcaption><a href="https://www.sunstrokemagazine.com/archive/2020/5/26/remedy-melodies-balance">Remedy Melodies 02: Balance</a><br>Sunstroke Magazine, 2020</figcaption>
  </div>
  <div class="col-sm space-below-art">
   <img src="/assets/images/work/rm-5.jpg" class="rounded-corners">
   <figcaption><a href="https://www.sunstrokemagazine.com/archive/2020/10/6/remedy-melodies-05-future">Remedy Melodies 05: Future</a><br>Sunstroke Magazine, 2020</figcaption>
 </div> 
  <div class="col-sm">
    <img src="/assets/images/work/rm-6.jpg" class="rounded-corners">
    <figcaption><a href="https://www.sunstrokemagazine.com/archive/2020/10/21/remedy-melodies-06-for-kano">Remedy Melodies 06: For Kano</a><br>Sunstroke Magazine, 2020</figcaption>
  </div>
</div>

<div class="row space-below-art">
  <div class="col-sm">
    <img src="/assets/images/work/hw-2.jpg" class="rounded-corners">
    <figcaption><a href="https://www.slumbermag.com/half-waif-the-caretaker/">Half Waif, ‘The Caretaker’ Review</a><br>Slumber Mag, 2020</figcaption>
  </div>
</div>

<div class="row space-below-art">
 <div class="col-sm space-below-art">
   <img src="/assets/images/work/tdd.jpeg" class="rounded-corners">
   <figcaption>"Tap Dancin’ Daddy" Cover<br>False Kermit, 2019</figcaption>
 </div>
 <div class="col-sm">
    <img src="/assets/images/work/2party.jpg" class="rounded-corners">
    <figcaption><a href="https://www.sunstrokemagazine.com/archive/2020/10/16/the-two-party-system-is-obsolete">The Two Party System is Obsolete</a><br>Sunstroke Magazine, 2020</figcaption>
 </div>
</div>

<div class="row space-below-art">
  <div class="col-sm">
    <img src="/assets/images/work/frances-ha.jpg" class="rounded-corners">
    <figcaption><a href="https://www.sunstrokemagazine.com/archive/2020/11/1/frances-ha-amp-the-difficulty-of-liking-things-in-2020">Frances Ha and the Difficulty of Liking Things</a><br>Sunstroke Magazine, 2020
  </div>
</div>

<div class="row space-below-sm">
 <div class="col-sm">
    <div style="padding:56.25% 0 0 0;"><iframe src="https://player.vimeo.com/video/381669368?portrait=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
 </div>
</div>

<div class="row space-below-art">
 <div class="col-sm text-center">
   <figcaption><a href="https://vimeo.com/381669368">Functions</a><br>CCA Interface Show, 2019</figcaption>
 </div>
</div>

<div class="row">
  <div class="col-sm space-below-art align-self-center">
    <img src="/assets/images/work/figure-loop.gif" class="rounded-corners">
    <figcaption>Life Drawing, 2019</figcaption>
  </div>
  <div class="col-sm">
    <div style="padding:84.11% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/311690121?loop=1&portrait=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
    <figcaption class="space-above space-below-art"><a href="https://vimeo.com/311690121">Breakfast</a>, 2019</figcaption>
  </div>
</div>