---
title: about & contact - alex ramos
---
<div class="row">
  <div class="col-sm align-self-center">
    <%= image_tag 'alex/houseforbirds.png' %>
  </div>
  
  <div class="col-sm">
    <p>
      <b class="red">Alex Ramos</b> (b. 1997) is an artist and writer from the San Francisco Bay Area.
      They are a senior at California College of the Arts, studying Animation with a focus on storyboarding and 2D design.
      They are also Editor-in-Chief at <a href="https://sunstrokemagazine.com/">Sunstroke Magazine</a>, a print zine
      and interdisciplinary arts collective that centers Generation Z, culture and activism.
    </p>
    <p>
      Their personal work is rooted in experimental storytelling and its potential to communicate emotional abstractions,
      regardless of the medium; it is the result of a life-long admiration for womxn artists and what they have
      revealed to them — the intuitive, cathartic and mystical.
    </p>
    <p>
      They are available for testing, commissions, freelance and in-house work opportunities. Please email them at
      <a href="mailto:lexmramos@gmail.com">lexmramos (at) gmail (dot) com</a> if you’d like to collaborate,
      send music over for review or say hello. &#x1f58d;
    </p>
    <div class="link-list">@
        <a href="https://www.linkedin.com/in/lexmramos/">linkedin</a>,
        <a href="https://vimeo.com/lexmramos">vimeo</a>,
        <a href="https://www.instagram.com/lexmramosart">instagram</a>
    </div>
  </div>

  <div class="col-sm">
    <div class="contact-form">
      <form action="action_page.php">
    
        <label for="name">Name</label>
        <input type="text" id="name" name="name" placeholder="What's your name?">
    
        <label for="subject">Subject</label>
        <input type="text" id="subject" name="subject" placeholder="What are you contacting me about?">
    
        <label for="message">Your Message</label>
        <textarea id="message" name="message" placeholder="What would you like to say?" style="height:200px"></textarea>
    
        <center><input type="submit" value="Submit"></center>
    
      </form>
    </div>
  </div>

</div>