---
title: contact - alex ramos
---
<div class="row">
  <div class="col-sm-6 align-self-center">
    <div class="page-title red">@lexmramos</div>
  </div>
  <div class="col-sm-6 align-self-center">
    <div class="link-list">
      <div>– <a href="mailto:lexmramos@gmail.com">email</a></div>
      <div>– <a href="https://www.linkedin.com/in/lexmramos/">linkedin</a></div>
      <div>– <a href="https://vimeo.com/lexmramos">vimeo</a></div>
      <div>– <a href="https://www.instagram.com/lexmramosart">instagram</a></div>
    </div>
  </div>
</div>