---
title: contact
---
<div class="container-fluid">
  <div class="row">
    <div class="col-3 offset-3 text-right align-self-center">
      <h2>@lexmramos</h2>
    </div>
    <div class="col-3 text-left align-self-center">
      <a href="">linkedin</a>
      <br><a href="">vimeo</a>
      <br><a href="">instagram</a>
    </div>
  </div>
</div>
