---
title: film & video - alex ramos
---
<div class="row">
  <div class="col-12">
    <div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/381669368?portrait=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
  </div>
  <div class="col-lg-10 offset-lg-1">
    <h4 class="video-text">an interactive installation featuring a make-shift remote to pair animation with sound, creating a film in real time, 2019.</h3>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/320889333?portrait=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
  </div>
  <div class="col-lg-10 offset-lg-1">
    <h4 class="video-text">a visual storytelling assignment to re-interpret any scene from a film (lady bird), 2019.</h3>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <div style="padding:84.11% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/311690121?portrait=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
  </div>
  <div class="col-lg-10 offset-lg-1">
    <h4 class="video-text">my friend michelle turns into a plate of breakfast, 2018.</h3>
  </div>
</div>
