---
title: influences essay (draft)
---
<div class="container-fluid">
  <div class="row">
    <div class="col-8 pt-5 pb-4 align-self-center">
      <h1>title of essay</h1>
      <h2>subtitle</h2>
      <h3>quote</h3>
        <div class="writing">
          <img src="/assets/images/fiona/f01.jpg" class="img-fiona float-left">
        <p>
          Hi, you should be able to find my draft here. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          Ornare massa eget egestas purus. Accumsan lacus vel facilisis volutpat. Nisi vitae suscipit tellus mauris a diam maecenas. Nec feugiat in fermentum posuere
          urna nec tincidunt. Neque aliquam vestibulum morbi blandit cursus. A scelerisque purus semper eget duis at tellus. In tellus integer feugiat scelerisque varius.
          Diam phasellus vestibulum lorem sed risus ultricies tristique nulla aliquet. Sit amet luctus venenatis lectus magna fringilla urna porttitor rhoncus.
          Ut venenatis tellus in metus vulputate. Sed tempus urna et pharetra pharetra. Et netus et malesuada fames ac turpis egestas. Accumsan sit amet nulla facilisi morbi.
          Augue ut lectus arcu bibendum. Platea dictumst quisque sagittis purus sit amet volutpat consequat mauris. Sapien pellentesque habitant morbi tristique senectus
          et netus et. Tortor dignissim convallis aenean et. Integer enim neque volutpat ac tincidunt vitae semper quis lectus. Lorem sed risus ultricies tristique.
        </p>
          <img src="/assets/images/fiona/f01.jpg" class="img-fiona float-right">
        <p>
          Ut morbi tincidunt augue interdum velit euismod in pellentesque massa. Massa massa ultricies mi quis hendrerit dolor. Ultrices in iaculis nunc sed augue.
          Odio morbi quis commodo odio. Mattis molestie a iaculis at erat pellentesque. Arcu dictum varius duis at consectetur lorem donec massa. Imperdiet massa tincidunt
          nunc pulvinar sapien et ligula ullamcorper. Faucibus purus in massa tempor nec. Elit ut aliquam purus sit amet luctus. Ultrices eros in cursus turpis.
          Pellentesque habitant morbi tristique senectus et netus. In mollis nunc sed id semper. Tortor at risus viverra adipiscing at in. Nunc non blandit massa enim
          nec dui nunc mattis enim. Tortor id aliquet lectus proin nibh nisl condimentum id venenatis. Cursus turpis massa tincidunt dui.
        </p>
        <p>
          Lorem dolor sed viverra ipsum nunc aliquet bibendum. Sed cras ornare arcu dui vivamus arcu felis. Arcu felis bibendum ut tristique et egestas quis. Quis
          commodo odio aenean sed adipiscing. Aliquam etiam erat velit scelerisque. Vitae purus faucibus ornare suspendisse sed nisi. Erat velit scelerisque in dictum.
          Scelerisque fermentum dui faucibus in ornare quam viverra. Magna fringilla urna porttitor rhoncus. Et netus et malesuada fames ac. Nullam non nisi est sit amet.
          Vulputate eu scelerisque felis imperdiet proin fermentum. Dui ut ornare lectus sit amet est placerat in. Libero nunc consequat interdum varius sit amet mattis vulputate enim.
          Venenatis cras sed felis eget velitvaliquet sagittis id consectetur. Auctor neque vitae tempus quam pellentesque. Quam elementum pulvinar etiam non quam lacus suspendisse.
          Quam id leo in vitae. Sodales neque sodales ut etiam sit. Sed arcu non odio euismod. Eu non diam phasellus vestibulum lorem sed risus ultricies tristique.
          Amet massa vitae tortor condimentum lacinia quis vel eros. Facilisis volutpat est velit egestas dui.
        </p>
      </div>
    </div>
  </div>
</div>
