---
title: alex ramos
---
<% content_for :body_class, 'class1' %>

<div class="row">
  <div class="col">
    <div class="note text-center">
      This website is in the process of being updated. <br> If you would like to see my most recent work, please
      head over to my instagram: <a href="https://instagram.com/lexmramosart">@lexmramosart</a>.
    </div>
    <div>
    <%= image_tag 'work/halfwaif_3.jpg' %>
    </div>
  </div>
</div>