---
title: alex ramos
---
<% content_for :body_class, 'class1' %>

<div class="row">
  <div class="col-sm-6 offset-3 align-self-center space-below">
    <img src="assets/images/work/home_ill.jpg" class="round-corners">
  </div>
</div>

<div class="row">
  <div class="col-sm-6 offset-3 align-self-center">
    <h1 class="text-center">
      <span class="red">h</span><span class="blue">i</span><span class="yellow">!</span> ʕ•ᴥ•ʔ
    </h1>
    <p>
      My name is <b>Alex</b>. I’m a multidisciplinary artist and writer from the San Francisco Bay Area.
      My specialization is storyboarding for TV and film, and crafting music criticism,
      but I can illustrate, design, code, animate, produce and direct, too.
    <p>
      I’m currently at <a href="https://www.npr.org/music/">NPR Music</a> as an editorial intern.
      I’m also the Editor-in-Chief for <a href="http://sunstrokemagazine.com/">Sunstroke Magazine</a>,
      a print zine and interdisciplinary arts collective that centers Generation Z, culture and activism.
    </p>
    <p>
      I’d love to hear from you! Send me an email at the address below if you’d like to get in touch with me.
    </p>
    <center><a href="mailto:lexmramos@gmail.com" class="button hvr-fade">lexmramos [at] gmail [dot] com</a></center>
  </div>
</div>