---
title: alex ramos
---
<% content_for :body_class, 'class1' %>
<div class="row">
  <div class="col-sm-6 align-self-center">
    <div class="index-title red">Alex <br> Ramos</div>
  </div>

  <div class="col-sm-6 align-self-center">
    <div class="link-list">
      <div><b class="red">↪</b> <a href="/about">about</a></div>
      <div><b class="red">↪</b> <a href="/film">film & video</a></div>
      <div><b class="red">↪</b> <a href="/writing">writing</a></div>
      <div><b class="red">↪</b> <a href="/contact">contact</a></div>
    </div>
  </div>
</div>
