---
title: alex ramos
---
<% content_for :body_class, 'class1' %>

<div class="row">
  <div class="col text-center">
    <div class="space-below">
      <a href="https://www.slumbermag.com/half-waif-the-caretaker/"><%= image_tag 'work/halfwaif_3.jpg' %></a>
    </div>
    <div>
      <p><b>This website is in the process of being updated.</b></p>
      <p>If you would like to see my most recent work, please head over to my instagram:
      <a href="https://instagram.com/lexmramosart">@lexmramosart</a>.</p>
    </div>
  </div>
</div>