---
title: alex ramos
---
<div class="container-fluid">
  <div class="row">
    <div class="col-3 offset-3 text-right align-self-center">
      <h1><a href="/">Alex <br> Ramos</a></h1>
    </div>

    <div class="col-3 align-self-center">
      <a href="/about">about me</a>
      <br><a href="/art">art</a>
      <br><a href="/film">films</a>
      <br><a href="/contact">contact me</a>
    </div>
  </div>
</div>
