---
title: alex ramos
---
<div class="container-fluid">
  <div class="row">
    <div class="col-3 offset-3 text-right align-self-center">
      <h1>Alex <br> Ramos</h1>
    </div>

    <div class="col-3 align-self-center">
      <div class="link-list">
        <a href="/about">about</a>
        <br><a href="/animation">animation</a>
        <br><a href="/writing">writing</a>
        <br><a href="/sketchbook">sketchbook</a>
        <br><a href="/contact">contact</a>
      </div>
    </div>
  </div>
</div>
