---
title: alex ramos
---
<div class="container-fluid">
  <div class="row">
    <div class="col-3 offset-4 text-left align-self-center">
      <h1>
        <a href="/">Alex <br> Ramos</a>
      </h1>
    </div>

    <div class="col-1 text-right align-self-center">
      <a href="/about">about me</a>
      <br><a href="/art">artwork</a>
      <br><a href="/contact">contact me</a>
    </div>
  </div>
</div>
