---
title: alex ramos
---
<div class="container-fluid">
  <div class="row">
    <div class="col-6 align-self-center">
      <div class="index-title">Alex <br> Ramos</div>
    </div>

    <div class="col-6 align-self-center">
      <div class="link-list">
        <a href="/about">about</a>
        <br><a href="/film">film & video</a>
        <br><a href="/writing">writing</a>
        <br><a href="/contact">contact</a>
      </div>
    </div>
</div>
