---
title: alex ramos
---
<% content_for :body_class, 'class1' %>

<div class="row">
  <div class="col-sm-6 offset-sm-3 align-self-center">
    <img src="assets/images/work/home_ill.jpg" class="space-below rounded-corners">
    <p class="space-above">
    <p>
      I’m an artist, writer and editor from the San Francisco Bay Area.
    </p>
    <p>
      Currently, I’m at <a href="https://www.npr.org/music/">NPR Music</a> as an Editorial Intern.
      I’m also the Editor-in-Chief of <a href="http://sunstrokemagazine.com/">Sunstroke Magazine</a>,
      a print zine and interdisciplinary arts collective that centers Generation Z, culture and activism.
    </p>
    <p>
    I’m open to freelance assignments and media inquiries. You can contact me at <b class="red">lexmramos</b> [at] <b class="blue">gmail</b> [dot] <b class="yellow">com</b>.
    </p>
    <p>
    Thanks for visiting!
    </p>
  </div>
</div>