---
title: alex ramos
---
<% content_for :body_class, 'class1' %>

<div class="row">
  <div class="col-sm-3 offset-sm-2 align-self-center">
    <img src="assets/images/work/alex_icon.jpg" class="rounded-corners">
  </div>

  <div class="col-sm-5 align-self-center">
    <p class="space-above">
    <p>
      I’m an artist, writer and editor from the San Francisco Bay Area who specializes in music writing and cultural criticism.
    </p>
    <p>
      Currently, I’m a News Assistant at <a href="https://www.npr.org/people/988951798/alex-ramos">NPR Music</a>,
      where I just finished a semester as an Editorial Intern.
      I’m also the editor-in-chief of <a href="http://sunstrokemagazine.com/archive/tag/Alex+Ramos">Sunstroke Magazine</a>,
      a print zine and interdisciplinary arts collective that centers Generation Z, culture and activism.
    </p>
    <p>
    I’m open to new opportunities, including freelance assignments. You can contact me at <b class="lilac">lexmramos [at] gmail [dot] com</b>.
    </p>
    <p>
    Thanks for visiting!
    </p>
    </p>
  </div>
</div>