---
title: on-air – alex ramos
---
<div class="row space-below-lg">
  <div class="col-sm">
    <h1 class="lilac">on-air</h1>
  </div>
</div>

<div class="row space-below">
  <div class="col-sm-2">
    <h3>podcasts</h3>
  </div>

  <div class="col-sm-7">
    <ul class="section-links">
      <li><a href="https://www.npr.org/2021/04/27/991243810/new-music-friday-the-top-7-albums-out-on-april-30">New Music Friday: April 30</a></li>
      <li><a href="https://www.npr.org/sections/allsongs/2021/04/29/991988246/the-best-music-of-april-npr-staff-picks">On “Head Cheerleader” by Pom Pom Squad for The Best Music Of April</a>
    </ul>
  </div>

  <div class="col-sm-3 publications">
    <ul>
      <li>All Songs Considered, 2021</li>
      <li>All Songs Considered, 2021</li>
    </ul>
  </div>
</div>