---
title: writing - alex ramos
---

<div class="row space-below">
  <div class="col-sm-2">
    <h3>Reviews</h3>
  </div>

  <div class="col-sm-7">
    <ul class="section-links">
      <li><a href="https://www.slumbermag.com/half-waif-the-caretaker/">Half Waif, <i>The Caretaker</i></a></li>
      <li><a href="https://www.slumbermag.com/listen-ginger-taylor-yuppie/">Ginger Taylor, <i>Yuppie</i></a>
      <li><a href="https://www.sunstrokemagazine.com/archive/2020/5/16/review-remi-wolf-youre-a-dog-ep">Remi Wolf, <i>You’re A Dog!</i></a></li>
      <li><a href="https://www.phluff.net/reviews/2019/7/8/killing-time-and-wondering-why-with-jeanines">Jeanines, <i>Jeanines</i></a></li>
    </ul>
  </div>

  <div class="col-sm-3 publications">
    <ul>
      <li>Slumber Mag, 2020</li>
      <li>Slumber Mag, 2020</li>
      <li>Sunstroke Magazine, 2020</li>
      <li>Phluff, 2019</li>
    </ul>
  </div>
</div>

<hr>

<div class="row space-below">
  <div class="col-sm-2">
    <h3>essays</h3>
  </div>

  <div class="col-sm-7">
    <ul class="section-links">
      <li><a href="/work/fiona-apple">Becoming an Artist with Fiona Apple</a></li>
      <li><a href="http://ccaartsreview.blogspot.com/2020/12/music.html">Mitski as vessel, character, and creator</a></li> 
    </ul>
  </div>

  <div class="col-sm-3 publications">
    <ul>
      <li>Self-published, 2020</li>
      <li>CCA Arts Review, 2020</li>
    </ul>
  </div>
</div>

<hr>

<div class="row space-below">
  <div class="col-sm-2">
    <h3>features</h3>
  </div>

  <div class="col-sm-7">
    <ul class="section-links">
      <li><a href="https://www.sunstrokemagazine.com/archive/2021/5/3/sunstroke-x-generaion">Sunstroke Magazine x HBO Max’s <i>Genera+ion</i></a>
      <li><a href="https://www.npr.org/2021/04/19/988198737/rina-sawayama-tiny-desk-home-concert">Rina Sawayama: Tiny Desk (Home) Concert</a>
      <li><a href="https://www.npr.org/2021/04/12/985842675/still-fearless-re-recording-the-past-on-taylors-version">“Forever & Always” for Still ‘Fearless’: Re-Recording The Past On Taylor’s Version</a></li>
      <li><a href="https://www.npr.org/2021/02/24/970896489/what-does-daft-punk-leave-behind">On ‘Interstella 5555’ and Leiji Matsumoto for What Does Daft Punk Leave Behind?</a></li>
      <li><a href="https://www.npr.org/2021/02/05/964551916/on-collapsed-in-sunbeams-arlo-parks-welcomes-endings-and-change">On ‘Collapsed In Sunbeams,’ Arlo Parks Welcomes Endings And Change</a></li>
    </ul>
  </div>

  <div class="col-sm-3 publications">
    <ul>
      <li>Sunstroke Magazine, 2021</i>
      <li>NPR Music, 2021</i>
      <li>NPR Music, 2021</i>
      <li>NPR Music, 2021</i>
      <li>NPR Music, 2021</i>
    </ul>
  </div>
</div>

<hr>

<div class="row">
  <div class="col-sm-2">
    <h3>podcasts</h3>
  </div>

  <div class="col-sm-7">
    <ul class="section-links">
      <li><a href="https://www.npr.org/2021/05/21/999109249/olivia-rodrigos-sour-is-pretty-sweet">Review: Olivia Rodrigo, <i>Sour</i></a>
      <li><a href="https://www.npr.org/2021/04/27/991243810/new-music-friday-the-top-7-albums-out-on-april-30">New Music Friday: girl in red, <i>if i could make it go quiet</i></a></li>
      <li><a href="https://www.npr.org/sections/allsongs/2021/04/29/991988246/the-best-music-of-april-npr-staff-picks">Best of the Month: “Head Cheerleader” by Pom Pom Squad</a>
    </ul>
  </div>

  <div class="col-sm-3 publications">
    <ul>
      <li>Pop Culture Happy Hour, 2021</li>
      <li>All Songs Considered, 2021</li>
      <li>All Songs Considered, 2021</li>
    </ul>
  </div>
</div>