---
title: selected works - alex ramos
---
<div class="row space-below-lg">
  <div class="col-sm">
    <h1 class="lilac">Selected Works</h1>
  </div>
</div>

<div class="row space-below">
  <div class="col-sm-2">
    <h3>Reviews</h3>
  </div>

  <div class="col-sm-7">
    <ul class="section-links">
      <li><a href="https://www.npr.org/sections/now-playing/2021/06/22/1008806373/clairo-blouse">Clairo, "Blouse"</a></li>
      <li><a href="https://www.slumbermag.com/half-waif-the-caretaker/">Half Waif, <i>The Caretaker</i></a></li>
      <li><a href="https://www.slumbermag.com/listen-ginger-taylor-yuppie/">Ginger Taylor, <i>Yuppie</i></a>
      <li><a href="https://www.phluff.net/reviews/2019/7/8/killing-time-and-wondering-why-with-jeanines">Jeanines, <i>Jeanines</i></a></li>
    </ul>
  </div>

  <div class="col-sm-3 publications">
    <ul>
      <li>NPR Music, 2021</li>
      <li>Slumber Mag, 2020</li>
      <li>Slumber Mag, 2020</li>
      <li>Phluff, 2019</li>
    </ul>
  </div>
</div>

<hr>

<div class="row space-below">
  <div class="col-sm-2">
    <h3>essays</h3>
  </div>

  <div class="col-sm-7">
    <ul class="section-links">
      <li><a href="/work/fiona-apple">Becoming an Artist with Fiona Apple</a></li>
      <li><a href="http://ccaartsreview.blogspot.com/2020/12/music.html">Mitski as vessel, character, and creator</a></li> 
    </ul>
  </div>

  <div class="col-sm-3 publications">
    <ul>
      <li>Self-published, 2020</li>
      <li>CCA Arts Review, 2020</li>
    </ul>
  </div>
</div>

<hr>

<div class="row space-below">
  <div class="col-sm-2">
    <h3>features</h3>
  </div>

  <div class="col-sm-7">
    <ul class="section-links">
      <li><a href="https://www.npr.org/2021/06/25/1010031724/life-in-plastic-the-sweet-and-sinister-world-of-pom-pom-squad">Life In Plastic: The Sweet And Sinister World Of Pom Pom Squad</a></li>
      <li><a href="https://www.npr.org/2021/04/12/985842675/still-fearless-re-recording-the-past-on-taylors-version">“Forever & Always” for Still ‘Fearless’: Re-Recording The Past On Taylor’s Version</a></li>
      <li><a href="https://www.npr.org/2021/02/24/970896489/what-does-daft-punk-leave-behind">On ‘Interstella 5555’ and Leiji Matsumoto for What Does Daft Punk Leave Behind?</a></li>
    </ul>
  </div>

  <div class="col-sm-3 publications">
    <ul>
      <li>NPR Music, 2021</li>
      <li>NPR Music, 2021</i>
      <li>NPR Music, 2021</i>
    </ul>
  </div>
</div>

<hr>

<div class="row">
  <div class="col-sm-2">
    <h3>podcasts</h3>
  </div>

  <div class="col-sm-7">
    <ul class="section-links">
      <li><a href="https://www.npr.org/2021/05/21/999109249/olivia-rodrigos-sour-is-pretty-sweet">Review: Olivia Rodrigo, <i>Sour</i></a>
    </ul>
  </div>

  <div class="col-sm-3 publications">
    <ul>
      <li>Pop Culture Happy Hour, 2021</li>
    </ul>
  </div>
</div>