---
title: writing - alex ramos
---
<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-6 pt-5 pb-4 align-self-center">
      <h2>2019</h2>
      <br><h3>
        <a href="https://www.phluff.net/reviews/2019/7/8/killing-time-and-wondering-why-with-jeanines">
        killing time and wondering why with ‘jeanines’</a> @ Phluff
      </h3>

      <br><h3>
        <a href="https://www.phluff.net/premieres/2019/7/15/parrot-dream-revisit-light-goes-lp-with-b-side-woven">
        parrot dream revisit ‘light goes’ LP with b-side “woven”</a> @ Phluff
      </h3>
    </div>
  </div>
</div>
