---
title: writing - alex ramos
---
<div class="container-fluid">

  <div class="row">
    <div class="col-5 align-self-center">
      <div class="page-title">2019</div>
    </div>
    <div class="col-7 align-self-center">
      <div class="link-list">
        <b>phluff</b>
        <br>• <a href="https://www.phluff.net/reviews/2019/7/8/killing-time-and-wondering-why-with-jeanines">killing time and wondering why with ‘jeanines’</a>
        <br>• <a href="https://www.phluff.net/premieres/2019/7/15/parrot-dream-revisit-light-goes-lp-with-b-side-woven">parrot dream revisit ‘light goes’ LP with b-side “woven”</a>
      </div>
    </div>
  </div>

</div>
