---
title: writing - alex ramos
---
<div class="row space-below-lg">
  <div class="col-sm">
    <h1 class="yellow">Selected Writing</h1>
  </div>
</div>

<div class="row space-below">
  <div class="col-sm-2">
    <h3>Features</h3>
  </div>

  <div class="col-sm-6">
    <ul>
     <li><a href="https://www.npr.org/2021/02/05/964551916/on-collapsed-in-sunbeams-arlo-parks-welcomes-endings-and-change"><b>On 'Collapsed In Sunbeams,' Arlo Parks Welcomes Endings And Change</b></a></li>
     <li><a href="https://www.npr.org/2021/02/24/970896489/what-does-daft-punk-leave-behind"><b>On <i>Interstella 5555</i> and Leiji Matsumoto for <i>What Does Daft Punk Leave Behind?</i></b></a></li>
    </ul>
  </div>

  <div class="col-sm-3 publications">
    <ul>
      <li>NPR Music, 2021</li>
      <li>NPR Music, 2021</li>
    </ul>
  </div>
</div>

<hr>

<div class="row">
  <div class="col-sm-2">
    <h3>Essays</h3>
  </div>

  <div class="col-sm-6">
    <ul>
      <li><a href="/writing/fiona-apple"><b>Becoming an Artist with Fiona Apple</b></a></li>
      <li><a href="http://ccaartsreview.blogspot.com/2020/12/music.html"><b>Mitski as vessel, character, and creator</b></a></li>
    </ul>
  </div>

  <div class="col-sm-3 publications">
    <ul>
      <li>Self-published, 2020</li>
      <li>CCA Arts Review, 2020</li>
    </ul>
  </div>
</div>

<hr>

<div class="row">
  <div class="col-sm-2">
    <h3>Reviews</h3>
  </div>

  <div class="col-sm-6">
    <ul>
      <li><a href="https://www.slumbermag.com/half-waif-the-caretaker/"><b>Half Waif</b>, <i>The Caretaker</i></a></li>
      <li><a href="https://www.slumbermag.com/listen-ginger-taylor-yuppie/"><b>Ginger Taylor</b>, <i>Yuppie</i></a>
      <li><a href="https://www.sunstrokemagazine.com/archive/2020/5/16/review-remi-wolf-youre-a-dog-ep"><b>Remi Wolf</b>, <i>You’re A Dog!</i></a></li>
      <li><a href="https://www.phluff.net/reviews/2019/7/8/killing-time-and-wondering-why-with-jeanines"><b>Jeanines</b>, <i>Jeanines</i></a></li>
    </ul>
  </div>

  <div class="col-sm-3 publications">
    <ul>
      <li>Slumber Mag, 2020</li>
      <li>Slumber Mag, 2020</li>
      <li>Sunstroke Magazine, 2020</li>
      <li>Phluff, 2019</li>
    </ul>
  </div>
</div>

<hr>

<div class="row space-below">
  <div class="col-sm-2">
    <h3>Reporting</h3>
  </div>

  <div class="col-sm-6">
    <ul>
     <li><a href="https://www.phluff.net/premieres/2019/7/15/parrot-dream-revisit-light-goes-lp-with-b-side-woven"><b>Parrot Dream Revisit ‘Light Goes’ LP with B-Side “Woven”</b></a></li>
    </ul>
  </div>

  <div class="col-sm-3 publications">
    <ul>
      <li>Phluff, 2019</li>
    </ul>
  </div>
</div>