---
title: writing - alex ramos
---
<div class="row table-margin">
  <div class="col-sm">
    <div class="year-list red">2020</div>
  </div>
  <div class="col-sm align-self-center">
    <div class="writing-list">
      <div><h3>personal</h3></div>
        <ul>
          <li>
            essay: <a href="/fiona">a still-life drawing of a peach</a>
          </li>
        </uL>

      <br>
      
      <div><h3>sunstroke</h3></div>
        <ul>
          <li>
            review: <a href="https://www.sunstrokemagazine.com/archive/2020/5/16/review-remi-wolf-youre-a-dog-ep">remi wolf – <i>you’re a dog!</i></a>
          </li>
        </ul>
      
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm">
    <div class="year-list red">2019</div>
  </div>
  <div class="col-sm align-self-center">
    <div class="writing-list">
      <div><h3>phluff</h3></div>
      <ul>
        <li>
          review: <a href="https://www.phluff.net/reviews/2019/7/8/killing-time-and-wondering-why-with-jeanines">jeanines - <i>jeanines</i></a>
        </li>
        <li>
          premiere: <a href="https://www.phluff.net/premieres/2019/7/15/parrot-dream-revisit-light-goes-lp-with-b-side-woven">parrot dream - “woven”</a>
        </li>
      </ul>
    </div>
  </div>
</div>
