---
title: writing - alex ramos
---
<div class="row content-margin">
  <div class="col-sm">
    <div class="page-title red">2019</div>
  </div>
  <div class="col-sm">
    <div class="link-list">
      <b class="red">phluff</b>
      <div><a href="https://www.phluff.net/reviews/2019/7/8/killing-time-and-wondering-why-with-jeanines">killing time and wondering why with ‘jeanines’</a></div>
      <div><a href="https://www.phluff.net/premieres/2019/7/15/parrot-dream-revisit-light-goes-lp-with-b-side-woven">parrot dream revisit ‘light goes’ LP with b-side “woven”</a></div>
    </div>
  </div>
</div>

<div class="row content-margin">
  <div class="col-sm">
    <div class="page-title red">2020</div>
  </div>
  <div class="col-sm">
    <div class="link-list">
      <b class="red">phluff</b>
      <div><a href="https://www.phluff.net/reviews/2019/7/8/killing-time-and-wondering-why-with-jeanines">here's a new thing: and the continuation of the title</a></div>
      <div><a href="https://www.phluff.net/premieres/2019/7/15/parrot-dream-revisit-light-goes-lp-with-b-side-woven">another new thing: even more title on this guy, he's really long</a></div>
    </div>
  </div>
</div>

