---
title: writing - alex ramos
---
<div class="row space-below-lg">
  <div class="col-sm">
    <h1 class="lilac">Selected Writing</h1>
  </div>
</div>

<div class="row space-below">
  <div class="col-sm-2">
    <h3>Reviews</h3>
  </div>

  <div class="col-sm-7">
    <ul class="writing-links">
      <li><a href="https://www.slumbermag.com/half-waif-the-caretaker/">Half Waif, <i>The Caretaker</i></a></li>
      <li><a href="https://www.slumbermag.com/listen-ginger-taylor-yuppie/">Ginger Taylor, <i>Yuppie</i></a>
      <li><a href="https://www.sunstrokemagazine.com/archive/2020/5/16/review-remi-wolf-youre-a-dog-ep">Remi Wolf, <i>You’re A Dog!</i></a></li>
      <li><a href="https://www.phluff.net/reviews/2019/7/8/killing-time-and-wondering-why-with-jeanines">Jeanines, <i>Jeanines</i></a></li>
    </ul>
  </div>

  <div class="col-sm-3 publications">
    <ul>
      <li>Slumber Mag, 2020</li>
      <li>Slumber Mag, 2020</li>
      <li>Sunstroke Magazine, 2020</li>
      <li>Phluff, 2019</li>
    </ul>
  </div>
</div>

<hr>

<div class="row space-below">
  <div class="col-sm-2">
    <h3>essays</h3>
  </div>

  <div class="col-sm-7">
    <ul class="writing-links">
      <li><a href="/writing/fiona-apple">Becoming an Artist with Fiona Apple</a></li>
      <li><a href="http://ccaartsreview.blogspot.com/2020/12/music.html">Mitski as vessel, character, and creator</a></li> 
    </ul>
  </div>

  <div class="col-sm-3 publications">
    <ul>
      <li>Self-published, 2020</li>
      <li>CCA Arts Review, 2020</li>
    </ul>
  </div>
</div>

<hr>

<div class="row">
  <div class="col-sm-2">
    <h3>features</h3>
  </div>

  <div class="col-sm-7">
    <ul class="writing-links">
      <li><a href="https://www.sunstrokemagazine.com/archive/2021/5/3/sunstroke-x-generaion">Sunstroke Magazine x HBO Max’s <i>Genera+ion</i></a>
      <li><a href="https://www.npr.org/2021/04/19/988198737/rina-sawayama-tiny-desk-home-concert">Rina Sawayama: Tiny Desk (Home) Concert</a>
      <li><a href="https://www.npr.org/2021/04/12/985842675/still-fearless-re-recording-the-past-on-taylors-version">“Forever & Always” for <i>Still ‘Fearless’: Re-Recording The Past On Taylor’s Version</i></a></li>
      <li><a href="https://www.npr.org/2021/02/24/970896489/what-does-daft-punk-leave-behind">On ‘Interstella 5555’ and Leiji Matsumoto for <i>What Does Daft Punk Leave Behind?</i></a></li>
      <li><a href="https://www.npr.org/2021/02/05/964551916/on-collapsed-in-sunbeams-arlo-parks-welcomes-endings-and-change">On ‘Collapsed In Sunbeams,’ Arlo Parks Welcomes Endings And Change</a></li>
    </ul>
  </div>

  <div class="col-sm-3 publications">
    <ul>
      <li>Sunstroke Magazine, 2021</i>
      <li>NPR Music, 2021</i>
      <li>NPR Music, 2021</i>
      <li>NPR Music, 2021</i>
      <li>NPR Music, 2021</i>
    </ul>
  </div>
</div>