---
title: writing - alex ramos
---
<div class="row">
  <div class="col-10 offset-1 space-below">
    <h1 class="yellow">Writing</h1>
    <h4>Non-fiction writing, including music criticism and personal essays.</h4>
  </div>
</div>

<div class="row">
  <div class="col-sm-3">
    <div class="year-list red">2020</div>
  </div>

  <div class="col-sm-9">
    <div class="writing-list">
      <div><h3 class="red">Personal</h3>
          <ul>
            <li>
              ESSAY: <a href="/fiona">Becoming an Artist with Fiona Apple</a>
            </li>
          </ul>
        </div>
      
      <div><h3 class="blue">Slumber Mag</h3>
        <ul>
          <li>
            REVIEW: <a href="https://www.slumbermag.com/half-waif-the-caretaker/">Half Waif – <i>The Caretaker</i></a>
          </li>
          <li>
            REVIEW: <a href="https://www.slumbermag.com/listen-ginger-taylor-yuppie/">Ginger Taylor – <i>Yuppie</i></a>
          </li>
        </ul>
      </div>

      <div><h3 class="yellow">Sunstroke</h3>
          <ul>
            <li>
              REVIEW: <a href="https://www.sunstrokemagazine.com/archive/2020/5/16/review-remi-wolf-youre-a-dog-ep">Remi Wolf – <i>You’re A Dog!</i></a>
            </li>
          </ul>
        </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-3">
    <div class="year-list blue">2019</div>
  </div>

  <div class="col-sm-9">
    <div class="writing-list">
      <div><h3 class="red">Phluff</h3>
        <ul>
          <li>
            REVIEW: <a href="https://www.phluff.net/reviews/2019/7/8/killing-time-and-wondering-why-with-jeanines">Jeanines - <i>Jeanines</i></a>
          </li>
          <li>
            PREMIERE: <a href="https://www.phluff.net/premieres/2019/7/15/parrot-dream-revisit-light-goes-lp-with-b-side-woven">Parrot Dream - “Woven”</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
