---
title: writing - alex ramos
---
<div class="row">
  <div class="col-sm-6 align-self-center">
    <div class="page-title red">2019</div>
  </div>
  <div class="col-sm-6 align-self-center">
    <div class="link-list">
      <b class="red">phluff</b>
      <div><b class="red">↪</b> <a href="https://www.phluff.net/reviews/2019/7/8/killing-time-and-wondering-why-with-jeanines">review: jeanines - <i>s/t</i></a></div>
      <div><b class="red">↪</b> <a href="https://www.phluff.net/premieres/2019/7/15/parrot-dream-revisit-light-goes-lp-with-b-side-woven">premiere: parrot dream - “woven”</a></div>
    </div>
  </div>
</div>
