---
title: writing - alex ramos
---
<div class="row">

  <div class="col-sm">
    <div class="year-list red">2020</div>
  </div>

  <div class="col-sm">
    <div class="writing-list">
      <div><h3 class="red">Personal</h3>
          <ul>
            <li>
              <a href="/fiona">A Still-Life Drawing of a Peach</a>
            </li>
          </ul>
        </div>
      
      <div><h3 class="blue">Slumber Mag</h3>
        <ul>
          <li>
            <a href="https://www.slumbermag.com/listen-ginger-taylor-yuppie/">Ginger Taylor – <i>Yuppie</i></a>
          </li>
        </ul>
      </div>

      <div><h3 class="yellow">Sunstroke</h3>
          <ul>
            <li>
              <a href="https://www.sunstrokemagazine.com/archive/2020/5/16/review-remi-wolf-youre-a-dog-ep">Remi Wolf – <i>You’re A Dog!</i></a>
            </li>
          </ul>
        </div>
    </div>
  </div>

</div>

<div class="row">

  <div class="col-sm">
    <div class="year-list blue">2019</div>
  </div>

  <div class="col-sm">
    <div class="writing-list">
      <div><h3 class="red">Phluff</h3>
        <ul>
          <li>
            <a href="https://www.phluff.net/reviews/2019/7/8/killing-time-and-wondering-why-with-jeanines">Jeanines - <i>Jeanines</i></a>
          </li>
          <li>
            <a href="https://www.phluff.net/premieres/2019/7/15/parrot-dream-revisit-light-goes-lp-with-b-side-woven">Parrot Dream - “Woven”</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

</div>
